form.disconnect-form {
  margin: 0px !important;
}

.tile-stats .count.ontologies {
    font-size: 30px;
}

a.social-dissociate {
    /*
    cursor: pointer !important;
    margin: 0px 5px !important;
    padding: 0px !important;
    //*/
}

.panel {
    border: black 1px solid;
}

.social .row .col-md-2 {
    height: 128px;
}

.social .btn-success, .social .btn-danger {
    width: 100%;
}

