body { font: 11px sans-serif; }
a { color: dodgerblue; }
#graph {
	display: block;
	position: relative;
	overflow: hidden;
	border: 1px solid #ccc;
}
#graph canvas { }
.node-label { font-size: 11px; }

